footer {
	position: relative;
}

#colophon {
	background-color: $red;
	color: white;

	a {
		color: white;

		&:hover {
			opacity: .8;
		}
	}

	.row {
		flex-direction: column;
	}

	.menu {
		list-style-type: none;
		padding-left: 0;
		text-transform: uppercase;
		display: block;
		margin-top: 0;
	}
}