footer {
	position: relative;
}

#colophon {
	background-color: $red;
	color: white;

	a {
		color: white;

		&:hover {
			opacity: .8;
		}
	}

	.menu {
		list-style-type: none;
		padding-left: 0;
		text-transform: uppercase;
		display: block;
		margin-top: 0;
	}

	&.yellow {
		background-color: $yellow;
		color: black;
		a {
			color: black;
		}
	}

	img {
		width: 100%;
	}
}

#content {
	min-height: 60vh;
}

.site-info {
	text-align: center;
}