section{
    min-height: 50vh;
}

#hero{
    background: url(https://images.pexels.com/photos/418831/pexels-photo-418831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 80vh;
    

    .main-logo {
        margin: auto;
        margin-top: 20%;
    }
}

#ausschreibung {
    background-color: $red;
    color: white;
    box-shadow:  0px 2px 29px 0px rgba(50, 50, 50, 0.75);

}

#konzerte {
    padding: 2em 0;
    background-color: lighten($red, 10%);
}