section{
    min-height: 50vh;
}

#hero{
    min-height: 90vh;
    

    .main-logo {
        margin: auto;
        margin-top: 20%;
        transform: scale(1.5);

        @media (max-width: $md) {
            transform: scale(1);
        }
    }
}

.ljcbgweb {
    position: fixed !important; //overwrite vide 
}

#ausschreibung {
    background-color: $red;
    color: white;
    box-shadow:  0px 2px 29px 0px rgba(50, 50, 50, 0.75);

    a {
        color: white;
        text-decoration: underline;
    }

/*     @media (max-width: $md) {
        &::before{
            bottom: -80px;
        }
    } */
}

#ausschreibung-herbst19 {
    background-color: white;
    color: inherit;
    box-shadow:  0px 2px 29px 0px rgba(50, 50, 50, 0.75);

    .btn-light {
        background-color: $red;
        color: white;
    }
}

#konzerte {
    padding: 2em 0;
    background-color: lighten($red, 10%);
}

#aktuelles {
    padding: 6em 0 1em 0;
    background: rgba(255, 255, 255, 1)
}

.modal {
    position: fixed;
    background-color: transparent;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all .7s ease-in-out;

    &.modal-open {
        background-color: rgba(1,1,1,.9);
    }


    iframe {
        position: relative;
        left: 50%;
        top: 10%;
        transform: translate(-50%, 0);
        width: 70%;
        height: 70%;

        @media (max-width: $md) {
            width: 100%;
        }
    }
}

#videobutton{
    color: black;
    background-color: white;
    position: absolute;
    cursor: pointer;
    right: 50%;
    transform: translateX(50%);
    bottom: 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: .5em 2em; 
    transition: all .2s ease-in-out;
    text-align: center;

    @media (max-width: $md) {
        right: 50%;
        transform: translateX(50%);
        font-size: 1rem;
        padding: .5em 1em;
    }

    &:hover, &:focus {
        color: white;
        background-color: black;
    }
}

#jubilaeum {
    background-color: $yellow;

    h1 {
        text-transform: uppercase;
    }

    .btn-light {
        color: white;
        background: black;

        &:hover, &:focus {
			background-color: $yellow;
			border: 1px solid
		}
    }
}