.programm {
    background-color: $red;
    color: white;
    padding: 4em 0;
    text-align: center;
    
    h2 {
        text-transform: uppercase;
    }
}

.call-to-action {
    text-align: center;

    p {
        opacity: .7;
    }
}