button {
	@include transition(all $time $ease);
}

.btn, a .btn, {
	padding: ($gutter * 1.5) ($gutter * 3);
	min-width: 80px;
	border: 1px solid;
	border-radius: 2px;
	display: inline-block;
	text-align: center;
	color: white;

	@extend .h4;

	&:active {
		box-shadow: none;
	}

	&:focus, &:hover {
		outline: none;
		background-color: white;
		color: $red;
	}

	&.btn-sm {
		padding: ($gutter * 0.8) ($gutter * 1.8);

		@extend .h5;
	}

	&.btn-xs {
		padding: ($gutter * 0.8) ($gutter * 1.8);

		@include font-size(13px, 13px, 0.4px);
	}

	&.btn-xxs {
		padding: ($gutter * 0.6) $gutter;

		@include font-size(11px, 11px, 0.4px);
	}

	&.btn-light {
		color: $red;
		background-color: white;
		font-weight: 400;
		border: none;
		
		&:hover, &:focus {
			background-color: $red;
			color: white;
			border: 1px solid
		}
	}

	&.btn-transp {
		background-color: transparent;
	}
}

input {
	padding: ($gutter * 1.5) ($gutter * 3);
	min-width: 80px;
	border: 1px solid;
	border-radius: 2px;
	display: inline-block;
	background-color: transparent;
	@extend .h4;

	&[type="submit"] {
		&:hover {
			cursor: pointer;
			background: $red;
			color: white;
		}
	}
}