a {
	@include transition(all $time $ease);

	&,
	&:hover,
	&:focus {
		text-decoration: none;
		color: $red;
	}
}

.social-media-links {
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: space-between;
	.social-media-link-icon {
		fill: white;
	}

	&.social-media-links-sidebar {
		justify-content: space-around;
		a {
			color: white;

			&:hover {
				opacity: .8;
			}
		}
	}
}