.alignfull,
.alignwide {
    width: 100vw;
    max-width: calc(100vw);
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
}

@media only screen and ( min-width: 950px ) {

    .alignwide {
        margin-left  : -125px;
        margin-right : -125px;
        max-width    : 950px;
    }
}